body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.cabecalho {
    text-align: center;
}

.busca {
    text-align: center;
}

.lista-itens h2 {
    text-align: center;
}

.lista-itens ol {
    width: fit-content;
    margin: 0 auto;
}

h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    border: solid;
    border-color: #0c2441;
    border-radius: 6px;
    width: 600px;
    margin-top: 8px;
    padding-left: 12px;
}

input {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
}

button {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 18px;
}